/* Coolors Exported Palette - coolors.co/293651-0f436d-1768ac-badae0-ffffff */

/* HSL */
$color1: hsla(221%, 33%, 24%, 1);
$color2: hsla(207%, 76%, 24%, 1);
$color3: hsla(207%, 76%, 38%, 1);
$color4: hsla(189%, 38%, 80%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(41, 54, 81, 1);
$color2: rgba(15, 67, 109, 1);
$color3: rgba(23, 104, 172, 1);
$color4: rgba(186, 218, 224, 1);
$color5: rgba(255, 255, 255, 1);