


.header {
    padding-top: 9em;
    text-align: center;
}

body {
    font-family: Futura;
}

h1 {
    font-weight: bolder;
    font-size: 3.2em;
}

#searchbar {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #212529;
    width: 50%;
    border-width: 1px;
    transition: border-width 0.6s linear;
}

#searchbar:focus {
    border-bottom: solid #212529;
    border-width: 3px;
}
