.header {
    padding-top: 9em;
    text-align: center;
}

body {
    font-family: Futura;
    color: #212529;
    background-color: #E8E9F3;
}

h1 {
    font-weight: bolder;
    font-size: 3.2em;
}

#searchbar {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #212529;
    width: 50%;
    border-width: 1px;
    transition: border-width 0.3s linear;
}

#searchbar:focus {
    border-bottom: solid #212529;
    border-width: 2px;
}

.search {
    text-align: center;
}

.search-btn {
    color: #212529;
    background: transparent;
    text-align: center;
    margin: auto;
    border: none;
    transition: color 1s ease;
}

.search-btn:hover {
    color: #acaeaf;
}

h2 {
    text-align: center;
}

.trade-container {
    display: flex;
    align-items: center;
}

.trade-container > div {
    flex: 1;
}
.offer-card {
    border: .1em solid #979797;
    background-color: #D8D8D8;
}
