@font-face {
	font-family: Futura;
	src: url(fonts/Futura-Normal.woff);
}

@font-face {
	font-family: Futura-Medium;
	src: url(fonts/Futura-Medium.woff);
}

@font-face {
	font-family: Futura-Light;
	src: url(fonts/Futura-Light.woff);
}



.navbar{
	background-color: #212529; 
	}
body {
   font-family: Futura;
   background-color: #ECDDC4;
}
h3.navbar-brand, a.nav-link{
	color: #C8C5BC;
	transition: all 0.5s ease;
}
h3.navbar-brand, a.nav-link:hover {
	color: #ECDDC4;
}

h3.navbar-brand{
	font-family: Futura-Medium;
	font-size: 31px;
	color: #C1BDB4;
	letter-spacing: 0px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.3s ease;
	letter-spacing: 10px;
	font-weight: 0;
}
.btn:hover{
	background-color: #bcb09c;
}

.navbar-nav{
	padding-right: 50px;
	padding-left: 50px;
	font-family: Futura-Light;
	font-size: 27px;
	letter-spacing: 0px;
}

.navbar{
	padding-top: 20px;
}

#navbarSignIn {
	font-size: 20px;
}